a, a:hover{
    text-decoration: none;
}

.message{
    position: absolute;
    z-index: 99;
    background-color: #78cfdb;
    padding: 30px;
    border-radius: 15px;
    color: white;
    bottom: 19px;
    left: 20px;
}

.home-container{
    padding: 10px;
    border-radius: 50%;
}

#home{
    width: 40px;
    height: 40px;
}

.home-container:hover{
    /* background-color: #569db3; */
    background-color: rgb(224, 224, 224);
}

.search-container{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    border-radius: 15px;
    border: 1px solid lightgray;
}

.search-container h2{
    font-size: 20px;
    margin-top: 1%;
    margin-bottom: 1%;
    font-weight: bolder;
    color: #569db3;
}

#search-icon{
    width: 24px;
    height: 24px;
}

#add-client-form{
    display: flex;
    justify-content: flex-end;
}

.edit-button,
.delete-button{
    width: 20px;
    height: 20px;
}

.edit-button-container,
.delete-button-container{
    padding: 5px;
    border-radius: 100%;
}
.edit-button-container:hover,
.delete-button-container:hover{
    background-color: white;
}

table{
    text-align: center;
}

.client-link{
    font-weight: bolder;
    color:#569db3;
}

.client-link:hover {
    color: #478294;
}

#edit-client-title,
#create-client-title,
#client-name{
    font-size: 30px;
    font-weight: bolder;
    color: #569db3;
}

#sensor-name{
    font-size: 20px;
    font-weight: bolder;
    color: #569db3;
}

.title-container{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.clients-not-found{
    background-color: #78cfdb;
    color: white;
    padding: 50px;
    text-align: center;
    font-weight: bolder;
    width: 50%;
    margin: 10px auto;
    border-radius: 15px;
}

.pagination li a
{
    background-color: white;
    color: #478294;
}


.page-link:focus{
    background-color: #478294;
    color: white;
}

.page-link:hover{
    background-color: #569db3;
    color: white;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #478294;
    border-color: #3a6b7a;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.footer{
    background-color: #569db3;
    /* background-color: #3a6b7aa1; */
    padding: 50px;
    color: white;
    text-align: center;
    margin-top: auto;
    width: 100%;
}
